@import "tailwindcss";

:root {
  /* Main colors */
  --color-primary: #121214;
  --color-secondary: #1a1a1e;
  --color-accent: #ffffff;

  /* Text colors */
  --color-text-primary: #efeff0;
  --color-text-secondary: #94959c;

  /* Background colors */
  --color-bg-primary: #121214;
  --color-bg-secondary: #1a1a1e;
  --color-bg-accent: #2e2e2e;
}

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom utility classes */
@layer utilities {
  .bg-theme-primary {
    background-color: var(--color-bg-primary);
  }

  .bg-theme-secondary {
    background-color: var(--color-bg-secondary);
  }

  .text-theme-primary {
    color: var(--color-text-primary);
  }

  .text-theme-secondary {
    color: var(--color-text-secondary);
  }
}
